<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.modelsim.Nios2ModelsimLaunchConfiguration">
<stringAttribute key="elfFile" value="C:\Users\linh9\Documents\source\DE0-CV_v.1.2.1_SystemCD\Demonstrations\DE0_CV_SDRAM_Nios_Test\software\DE0_CV_SDRAM_Nios_Test\DE0_CV_SDRAM_Nios_Test.elf"/>
<stringAttribute key="modelSimPath" value="C:\intelFPGA_lite\18.1\modelsim_ase\win32aloem"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="DE0_CV_SDRAM_Nios_Test.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="DE0_CV_SDRAM_Nios_Test"/>
<stringAttribute key="spdPath" value="C:\Users\linh9\Documents\source\DE0-CV_v.1.2.1_SystemCD\Demonstrations\DE0_CV_SDRAM_Nios_Test\DE0_CV_QSYS_tb.spd"/>
</launchConfiguration>
